*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: 'Gotu', sans-serif;
    font-size:12px;
    position:relative;
    width:100vw;
    height:auto;
}
.btn{
    cursor: pointer;
    color:#EE7C7C;
}

.sm-btn{
    color:black;
    padding: 5px;
    cursor: pointer;
   
}
.sm-btn:hover{
    background: #B2474B;
    color:white;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color:#EE7C7C;
}
li{
    list-style: none;
}

i{
    margin-right:5px;
    margin-left:5px;
}

.photo-container{
    width:100vw;
    height:85vh;
    overflow: hidden;
}

.photo-container img{
    width:100%;
    object-fit: cover;
    object-position: bottom;

}
.blog-full-content{
    padding:20px 0;
    font-size:14px;
    line-height: 20px;
}
.blog-heading{
    width:100vw;
    height:15vh;
    padding: 20px;
    text-align: center;
}

.blog-heading h1{
    font-size:2.5rem;
    line-height: 5rem;;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.content-container{
    background: #F3F5F4;
    padding:30px 12%;
    border-top: 2px solid #BBBDBC;
    border-bottom: 2px solid #BBBDBC;
}

.back-home{
    font-size:16px;
    line-height: 32px;
}

.blog-links{
    width:30%;
    display:flex;
    justify-content: space-between;
    padding:10px 0;
    font-size:16px;
    line-height: 30px;
}

.blog-content{
    width:100%;
}
.blog-details{
    display: flex;
    font-size:16px;
    line-height: 26px;
}

.filter{
    padding:2px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right:5px;
}

.filter:hover{
    color:white;
}

.css-filter{
    background: #264DE4;
}

.js-filter{
    background: #F0DB4F;
}

.mb-filter{
    background: #800080;
}

.node-filter{
    background: #3C873A;
}

.html-filter{
    background: #EA622A;
}

.blog-details p{
    margin-right:20px;
}
.blog-excerpt{
    font-size:1.5rem;
    letter-spacing: 0.15rem;
    font-style: italic;
    padding:10px 0;
}
.in-blog-image{
    width:100%;
    height:400px;
    overflow: hidden;
    display:flex;
    justify-content: space-evenly;

}
.in-blog-image img{
    max-height:400px;
}

.page-container{
    width:100%;
    height:470px;
    padding: 20px;
    font-size:14px;
    line-height: 20px;
    text-align: right;
    background: #F3F5F4;
}

.recommended-post-header{
    width:100%;
    height:50px;
    font-size:18px;
    line-height: 36px;
    text-align: center;
    padding:8px;
}

.recommended-post-container{
    display:flex;
    justify-content: center;
    width:100%;
    height:300px;
    padding:10px;
}

.recommended-post-card{
    width:250px;
    height:230px;
    margin:20px;
    text-align:center;
    cursor: pointer;
    background:white;
}

.recommended-post-title{
    font-size :16px;
    line-height:20px;
    padding:10px 5px;
    

}

.recommended-post-card:hover .recommended-post-title{
    text-decoration-line: underline;
}
.recommended-post-photo, .recommended-post-photo img{
    width:250px;
    height:150px;
}
.recommended-post-photo{
    overflow: hidden;
}

.footer{
    width:100vw;
    height:80px;
    position: absolute;
    left:0;
    bottom:0;
    background: #EEDBDB;
    padding:20px 20px;
    text-align: center;
    z-index:100;

}
.footer p{
    font-size:14px;
    line-height: 20px;
}

.social-media{
  width:100%;
}
.social-media ul{
    width:100%;
    display:flex;
    justify-content: center;
}

.social-media ul li{
    width:50px;
    height:30px;
}

.social-media li i{
    font-size:20px;
    line-height: 20px;
}