*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:12px;
    font-family: 'Gotu', sans-serif;
    width:100vw;

    overflow-x: hidden;
}
.btn{
    cursor: pointer;
    color:#EE7C7C;
}

.sm-btn{
    color:black;
    padding: 5px;
    cursor: pointer;
   
}
.sm-btn:hover{
    background: #B2474B;
    color:white;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color:#EE7C7C;
}
li{
    list-style: none;
}

i{
    margin-right:5px;
    margin-left:5px;
}



.photo-container{
    width:100vw;
    height:85vh;
    overflow: hidden;
}
.photo-container img{
    height:100vh;
    width:100vw;
    object-position: center;
    object-fit: cover;
}
.blog-heading{
    width:100vw;
    height:15vh;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size:1rem;
    letter-spacing: 0.1rem;
}
.content-container{
    padding:20px;
}

.wrapper{
    padding:0 4%;
}
.wrapper-narrow{
    padding:0 8%;
}
.blog-links{
    width:100%;
    display:flex;
    align-items: center;
}
.blog-links span{
    width:50px;
    font-size:1rem;
    line-height: 2.5rem;
    margin-right:5px;
}

.blog-details{
    width:100%;
    padding: 10px 0;
}
.filter {
    cursor: pointer;
    padding:2px 8px;
    margin-right:5px;
    font-size:1rem;
    border-radius: 5px;
}
.filter:hover{
    color:white;
}

.css-filter{
    background: #264DE4;
}

.js-filter{
    background: #F0DB4F;
}

.mb-filter{
    background: #800080;
}

.node-filter{
    background: #3C873A;
}

.html-filter{
    background: #EA622A;
}

.blog-content{
    padding: 10px 0;
}
.blog-excerpt{
    width:100%;
    padding:20px 0;
    letter-spacing: 0.1rem;
    font-size:1.1rem;
    font-style: italic;
    line-height: 1.5rem;
    text-align:justify;
}
.in-blog-image{
    width:100%;
    overflow: hidden;
}
.in-blog-image img{
    width:100%;
}
.blog-full-content{
    padding: 10px 0;
}
.page-container{
    width:100vw;
    text-align: right;
 
    padding:10px 0;
}
.recommended-post-header, .recommended-post-container{
    width:100%;
    font-size:1rem;
    line-height: 1.5rem;
    text-align: center;
    padding:10px 0;
    
}
.recommended-post-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.recommended-post-card{
    width:80%;
    height:250px;
    background: white;
    margin:5px;
    cursor: pointer;
}
.recommended-post-photo{
    height:200px;
    width:100%;
    overflow: hidden;
}
.recommended-post-photo img{
    height:100%;
}
.recommended-post-card:hover .recommended-post-title{
    text-decoration: underline;
}
.footer{
    width:100vw;
    text-align: center;
    background:#EEDBDB;
}

.social-media ul{
    display: flex;
    width:100%;
    justify-content: center;
}
.social-media ul li{
    width:50px;
}
.social-media ul li i{
    font-size:1.4rem;
    line-height: 2rem;
}


@media only screen and (min-width: 766px){
    html{
        font-size:14px;
    }
    .blog-excerpt{
        font-size:1.2rem;
        line-height: 1.8rem;
    }
    .wrapper{
        padding:0 8%;
    }
    .recommended-post-card{
        width:250px;
        height:350px;
    }
    .recommended-post-title{
        font-size:1rem;
        line-height: 1.5rem;
        padding:10px 0;
    }


}

@media only screen and (min-width:1080px){
    html{
        font-size:16px;
    }
    .wrapper{
        padding:0 12%;
    }
    .in-blog-image{
        width:60%;
    }
    .recommended-post-container{
        justify-content: space-between;
    }
    .recommended-post-card{
        width:300px;
        height:300px;
    }

    .recommended-post-photo{
        width:300px;
        overflow: hidden;
    }
    .recommended-post-photo img{
        width:100%;
        height:250px;
    }
   

}
